.footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    color: white;
    
}

.Container {
    padding-top: 6%;
    padding-right: 29%;
    color: white;
    overflow: hidden;
}

.campost {
    position: relative;
    left: -95px;
}

.form-email-footer {
    padding-left: 6%;
    padding-top: 3%;
    width: 50vw;
}

.email {
    height: 30px;
    width: 35%;
    text-align: center;
}

.label {
    font-size: 24px;
    color: white;
}

.divlogo {
    margin-top: 6%;
    margin-left: 6%;
}

.article-footer {
    float: right;
    width: 46%;
    height: 26%;
    margin-top: -8%;
    border-left: solid 5px crimson;
}

.botao {
    margin-left: 4%;
    width: 22%;
    height: 41px;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    border-color: red;
    background-color: red;
    transition: 2000ms;
    font-weight: bold;
}

.botao:hover {
    background-color: white;
}

.atitulo {
    color: white;
    position: relative;
    top: -26px;
}