@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Container {
    display: inline-block;
    color: white;
    background-color: #000;
    width: 100%;
    height:100%;
    text-align: center;
    justify-content: center;
}

.img-logo-footer{
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.Container p {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}